---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/owner/repo/statuses/bb90fbf0d19bed137b7866300a7314fa7ecce5b8
    body:
      encoding: UTF-8
      string: '{"state":"success","target_url":"https://jenkins.test/job/some_job_name/1/","description":"started","context":"jenkins/some_task"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token SOME_AUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - '"0b7e110e8d0a46780d5551c0495b0499"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/owner/repo/statuses/bb90fbf0d19bed137b7866300a7314fa7ecce5b8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/owner/repo/statuses/bb90fbf0d19bed137b7866300a7314fa7ecce5b8","id":3550,"state":"success","description":"started","target_url":"https://jenkins.test/job/some_job_name/1/","context":"jenkins/some_task","created_at":"2017-12-23T18:12:28Z","updated_at":"2017-12-23T18:12:28Z","creator":{"login":"jenkins-user","id":142,"avatar_url":"https://github.com/avatars/u/142?","gravatar_id":"","url":"https://api.github.com/users/jenkins-user","html_url":"https://github.com/jenkins-user","followers_url":"https://api.github.com/users/jenkins-user/followers","following_url":"https://api.github.com/users/jenkins-user/following{/other_user}","gists_url":"https://api.github.com/users/jenkins-user/gists{/gist_id}","starred_url":"https://api.github.com/users/jenkins-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jenkins-user/subscriptions","organizations_url":"https://api.github.com/users/jenkins-user/orgs","repos_url":"https://api.github.com/users/jenkins-user/repos","events_url":"https://api.github.com/users/jenkins-user/events{/privacy}","received_events_url":"https://api.github.com/users/jenkins-user/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 14 Nov 2017 18:12:28 GMT
recorded_with: VCR 3.0.3
